<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <div class="d-flex flex-grow-1">

      <span class="w-100 d-lg-none d-block"> </span>

      <a class="navbar-brand d-none d-lg-inline-block" href="/">
        <img class="headshot" src="/assets/images/headshot-2024.png" alt="This is me, Kellen Murphy!" />
        Kellen Murphy
        <subtitle>IAM Architect & SSO SME</subtitle>
      </a>

      <a class="navbar-brand-two mx-auto d-lg-none d-inline-block" href="/">
        <img class="headshot" src="/assets/images/headshot-2024.png" alt="This is me, Kellen Murphy!">
      </a>

      <div class="w-100 toggle">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>

    </div>
    <div class="collapse navbar-collapse flex-grow-1" id="navbar">
      <ul class="navbar-nav ms-auto flex-nowrap align-items-center">
        {% comment %}
        <li class="nav-item">
          {% for post in site.posts limit:1 %}
          <a href="{{ post.url }}" class="nav-link m-2 menu-item">latest</a>
          {% endfor %}
        </li>
        {% endcomment %}
        {% comment %}
        <li class="nav-item">
          <a href="/blog" class="nav-link m-2 menu-item">archives</a>
        </li>
        {% endcomment %}
        <li class="nav-item">
          <a href="/about" class="nav-link m-2 menu-item nav-active">about</a>
        </li>
        <li class="nav-item">
          <a href="/resume" class="nav-link m-2 menu-item nav-active">resumé</a>
        </li>
        <li class="nav-item">
          <a href="/talks" class="nav-link m-2 menu-item nav-active">talks</a>
        </li>
        <li class="nav-item">
          <a href="https://samlguy.com" target="_blank" class="nav-link m-2 menu-item nav-active">tools</a>
        </li>
        <li class="nav-item">
          <a href="https://linkedin.com/in/kellenmurphy" target="_blank" class="nav-link m-2 menu-item nav-active" aria-label="LinkedIn">
            <svg width="18" height="18"><use xlink:href="/assets/images/bootstrap-icons.svg#linkedin"></use></svg>
          </a>
        </li>
        <li class="nav-item">
          <a href="https://github.com/kellenmurphy" target="_blank" class="nav-link m-2 menu-item nav-active" aria-label="GitHub">
            <svg width="18" height="18"><use xlink:href="/assets/images/bootstrap-icons.svg#github"></use></svg>
          </a>
        </li>
        <li class="nav-item">
          <a href="mailto:me@kellenmurphy.com" class="nav-link m-2 menu-item nav-active" aria-label="Email">
            <svg width="18" height="18"><use xlink:href="/assets/images/bootstrap-icons.svg#envelope"></use></svg>
          </a>
        </li>
        <li class="nav-item d-flex align-items-center ms-1">
          <button id="theme-toggle" aria-label="Toggle theme" class="theme-toggle-btn">
            <svg class="sun-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
              <circle cx="12" cy="12" r="5"/><line x1="12" y1="1" x2="12" y2="3"/><line x1="12" y1="21" x2="12" y2="23"/>
              <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"/><line x1="18.36" y1="18.36" x2="19.78" y2="19.78"/>
              <line x1="1" y1="12" x2="3" y2="12"/><line x1="21" y1="12" x2="23" y2="12"/>
              <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"/><line x1="18.36" y1="5.64" x2="19.78" y2="4.22"/>
            </svg>
            <svg class="moon-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
              <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"/>
            </svg>
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
